$cream: rgba(255, 255, 255, 0.9);
$font-family-sans-serif: "Work Sans";
$gray-900: $cream;
$card-height: 350px;
$grey: #7f8c8d;
$vio: #9c88ff;
$titlecolor :#5758BB;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
